# Registration mode: "supabase" or "google_form"
NEXT_PUBLIC_REGISTRATION_MODE=supabase

# Supabase configuration (Required if NEXT_PUBLIC_REGISTRATION_MODE is "supabase")
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# Google Form URL (Required if NEXT_PUBLIC_REGISTRATION_MODE is "google_form")
NEXT_PUBLIC_GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/.../viewform
